@font-face {
    //lato regular
    font-family: latoR;
    src: url("../fonts/Lato-Regular.ttf");

    //lato bold italic
    font-family: latoBI;
    src: url("../fonts/Lato-BlackItalic.ttf");

    //lato bold
    font-family: latoBold;
    src: url("../fonts/Lato-Bold.ttf");

    //lato black
    font-family: latoBlack;
    src: url("../fonts/Lato-Black.ttf");


}